html,
body {
	color: #000;
	background: #fff;
	width: 100%;
	height: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

header {
	padding: 30px 0;
	border-top: 5px solid #111;
}

header a {
	text-decoration: none;
	color: #111;
}

header > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	float: left;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	height: 100px;
	padding-left: 120px;
	vertical-align: middle;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

header nav {
}

header nav a {
	padding: 0 20px;
}

header nav a.active {
	text-decoration: underline;
}

footer,
footer.container {
	padding: 20px 0;
}

blockquote {
	color: #888;
	font-style: oblique;
}
